.debug{
    background-color: pink;
    border: 1px solid black;
}

.debugblu{
    background-color: aquamarine;
    border: 1px solid black;
}

#hamburger{
    cursor: pointer;
    border: 1px solid white;
}

.grande{
    display: none;
}

ul li a{
    color: white;
}

ul li a:hover{
    color: white;
}

@media (min-width: 576px) { 

    .grande{
        display: block;
    }

    #hamburger{
        display: none;
    }
 }

 .verde{
    background-color: #1abc9c;
 }

 .row img{
    width: 100%;
    border-radius: 20px;
 }